* {
    box-sizing: border-box;
    margin: 0;

}


body {
    background-color: #EEEFEE;

}



h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: #0D4A01;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    margin-bottom: 1rem;
    color: #0D4A01;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    margin-bottom: 1rem;
    color: #0D4A01;
}

/*Sætter styling på knapper*/
h4 {
    background-color: #69A774;
    border-radius: 25px;
    padding: .5rem;
    width: 200px;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #0D4A01;
}

/* Styling af header og menuen */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #F0F1F0;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 10px;
    width: 150px;
    height: auto;
    cursor: pointer;
}

.nav_links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0px;
    background-color: #0D4A10;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    overflow: hidden;
    padding-top: 70px;
}

.nav_links a {
    font-family: sans-serif;
    color: #F0F1F0;
    text-decoration: none;
    padding: 10px;
    /*    display: block;*/
}

.burger {
    display: block;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: #0D4A10;
    margin: 5px;
    transition: all 0.5s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
    background-color: #F0F1F0;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: #F0F1F0;
}

.nav_active {
    transform: translateX(0%);
}

/*
.scrolling_active {
    animation-name: scrolling_active;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes scrolling_active {
    0% {
        background-color: rgba(240, 241, 240, 0);
    }

    100% {
        background-color: rgba(240, 241, 240, 1);
    }
}
*/

/* Styling på footer */
footer h2,
footer p {
    color: #F0F1F0;
}

footer {
    background-color: #0D4A10;
    text-align: center;
}

footer .wp-block-group {
    padding: 1rem;
}

.some_links .wp-block-group__inner-container {
    display: flex;
    justify-content: center;
}

.some_icon {
    margin: 0 1rem;
}

@media (min-width: 768px) {

    /* Styling af header og menuen */
    .nav_links {
        width: 30%;
    }

    /* Styling af fotter */
    footer {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }

    footer .wp-block-group {
        flex-grow: 1;
    }

    .some_links .wp-block-group__inner-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .some_icon {
        margin: 0;
    }

}
