* {
    box-sizing: border-box;
    margin: 0;

}


body {
    background-color: #EEEFEE;

}



h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: #0D4A01;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    margin-bottom: 1rem;
    color: #0D4A01;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    margin-bottom: 1rem;
    color: #0D4A01;
}

/*Sætter styling på knapper*/
h4 {
    background-color: #69A774;
    border-radius: 25px;
    padding: .5rem;
    width: 200px;
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #0D4A01;
}
